<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BCV Score</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body role="document" style="padding-top: 50px;">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">BCV Score</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" role="main">
            <div>
                <h1>Liste des résultats</h1>
            </div>
            
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Div</th>
                                <th>Num</th> 
                                <th>Equipe 1</th>
                                <th>Equipe 2</th>
                                <th style="width: 140px;">Date</th>
                                <th>Heure</th>
                                <th style="width: 50px;">Sco 1</th>
                                <th style="width: 50px;">For 1</th>
                                <th style="width: 50px;">Sco 2</th>
                                <th style="width: 50px;">For 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rencontre in rencontres %}
                                <tr>
                                    <td>{{rencontre.equipeDom.division}}</td>
                                    <td>{{rencontre.numero}}</td>
                                    <td>{{rencontre.equipeDom}}</td>
                                    <td>{{rencontre.equipeExt}}</td>
                                    <td>{{rencontre.date}}</td>
                                    <td>{{rencontre.heure}}</td>
                                    <td>{{rencontre.scoreDom|default:""}}</td>
                                    <td>{{rencontre.forfaitDom|yesno:"X,,"}}</td>
                                    <td>{{rencontre.scoreExt|default:""}}</td>
                                    <td>{{rencontre.forfaitExt|yesno:"X,,"}}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10">Aucune rencontre dans la base</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>